@import '~normalize.css';

.app {
    background-image: url('../src/assets/images/bg.jpg');
    background-color: red;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    margin-top: 200px;
}